:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan2: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish-cyan2: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: var(--Light-grayish-cyan);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: var(--Dark-grayish-cyan);
  margin-bottom: 4rem;
  position: absolute;
  top: -10rem;
  left: 50%;
}

@media (max-width: 480px) {
  h1 {
    top: -9rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.container {
  background-color: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  padding: 2rem;
  border-radius: 1.5rem;
  gap: 2rem;
  position: relative;
}

@media (max-width: 480px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    padding: 1.5rem;
    margin: inherit;
    margin-top: 10rem;
  }
}

.container .left-cont {
  width: 100%;
}

.container .left-cont form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .left-cont form fieldset label {
  color: var(--Dark-grayish-cyan);
  font-weight: 700;
  margin-bottom: .5rem;
}

.container .left-cont form fieldset label[for=people] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .left-cont form fieldset input[type=number] {
  -moz-appearance: textfield;
  padding: .5rem 1rem;
  border: none;
  background-color: var(--Light-grayish-cyan2);
  border-radius: .3rem;
  text-align: right;
  font-family: inherit;
  color: var(--Very-dark-cyan);
  font-weight: 700;
  font-size: 1.5rem;
}

.container .left-cont form fieldset input[type=number]:focus, .container .left-cont form fieldset input[type=number]:active {
  outline: 2px solid var(--Strong-cyan);
}

.container .left-cont form fieldset input::-webkit-inner-spin-button,
.container .left-cont form fieldset input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container .left-cont form fieldset .tip-selector {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .5rem;
}

@media (max-width: 480px) {
  .container .left-cont form fieldset .tip-selector {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.container .left-cont form fieldset .tip-selector input[type=radio] {
  position: absolute;
  left: -9999px;
}

.container .left-cont form fieldset .tip-selector input[type=radio]:checked + label {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.container .left-cont form fieldset .tip-selector label {
  border-radius: .3rem;
  font-weight: 700;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  color: white;
  text-align: center;
  background-color: var(--Very-dark-cyan);
  cursor: pointer;
}

.container .left-cont form fieldset .tip-selector label:hover {
  color: var(--Very-dark-cyan);
  background-color: var(--Light-grayish-cyan);
}

.container .left-cont form fieldset .tip-selector input {
  text-align: center;
}

.container .left-cont form fieldset .tip-selector input:focus {
  text-align: right;
}

.container .left-cont form fieldset .tip-selector input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.container .left-cont form fieldset .tip-selector input:focus:-ms-input-placeholder {
  opacity: 0;
}

.container .left-cont form fieldset .tip-selector input:focus::-ms-input-placeholder {
  opacity: 0;
}

.container .left-cont form fieldset .tip-selector input:focus::placeholder {
  opacity: 0;
}

.container .left-cont form fieldset.with-icon {
  position: relative;
}

.container .left-cont form fieldset.with-icon .in-icon {
  position: absolute;
  top: 3.5rem;
  left: 2rem;
}

.container .right-cont {
  width: 100%;
  background-color: var(--Very-dark-cyan);
  padding: 2rem;
  color: white;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 480px) {
  .container .right-cont {
    width: auto;
  }
}

.container .right-cont .result-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .right-cont .result-cont h3 {
  margin-top: 0;
  margin-bottom: 3rem;
}

.container .right-cont .result-cont h3 span {
  color: var(--Light-grayish-cyan);
  font-size: 1rem;
}

.container .right-cont .result-cont p {
  color: var(--Strong-cyan);
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  line-height: 3rem;
}

.container .right-cont button {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: .3rem;
  color: var(--Very-dark-cyan);
  background-color: var(--Strong-cyan);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: auto;
}

.container .right-cont button:hover {
  background-color: var(--Light-grayish-cyan);
}

.errors {
  color: red;
  text-align: right;
  display: none;
  font-weight: 400;
}

.error {
  outline: 2px solid red !important;
}
/*# sourceMappingURL=main.css.map */